{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Записи сообщества
  {{ group.title }}
{% endblock %}
{% block header %}
  <h1>{{ group.title }}</h1>
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Посты группы:
      {{ group.title|linebreaksbr }}</h1>
    <p>{{ group.description|linebreaksbr }}</p>
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
      {% if post.group %}
        <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
      {% endif %}
      {% if not forloop.last %}
        <hr>
        {% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  {% endblock %}
